@import url('https://fonts.googleapis.com/css2? family= Caveat & family= DynaPuff & family= Manrope:wght@700 & family= Rampart+One & family= Rubik+Iso & display= менять');
* {
margin: 0;
padding: 0;
}
nav {
    width: 1920px;
    height: 72px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    display: block;
}

.first__logotype {
    margin-left: 405px;
    margin-top: 22px;
    height: 28px;
    width: 105px;
    position: absolute;
    }
ul { 
 display: block;
 position: absolute;
 width: 344px;
 height: 20;
 left: 542px;
 top: 26px;
 list-style: none;
}
ul li {
    float: left;
}
ul li a {
padding: 12px;
font-size: 14px;
text-decoration: none;
font-feature-settings: "liga" off;
font-style: normal;
color: #000;
}
.vector {
position: absolute;
left: 1233px;
top: 16px;
width: 135px;
height: 40px;
}

  .vectorA {
    position: absolute;
    left: 1380px;
    top: 16.87px;
    width: 133.26px;
    height: 38.26px; 
  }
  .group {
position: absolute;
width: 99.52px;
height: 25.05px;
left: 1398px;
top: 24.44px;
  }
  .Text {
    position: absolute;
    width: 730px;
    height: 196px;
    top: 240px;
    left: 405px;
  }
.button {
  position: absolute;
  width: 196px;
  height: 62px;
  left: 405px;
  top: 468px;
}
.background {
  position: absolute;
  top: -131px;
  left: 0px;
  height: 1000px;
  width: 1919px;
  background: rgba(242, 247, 255, 0.7);
  backdrop-filter: blur (50px);
}
.band1 {
  position: absolute;
  top: 609px;
  width: 558px;
  height: 156px;
  left: -20px;
}
.band2 {
position: absolute;
width: 558px;
height: 154px;
left: -222px;
right: 1583px;
top: 720px;
}
.band3 {
  position: absolute;
  width: 558px;
  height: 154px;
  left: 1384px;
  top: 351px;
}
.band4 {
  position: absolute;
  width: 814px;
  height: 187px;
  left: 1170px;
  top: 430px;
}
.band5 {
  position: absolute;
  width: 558px;
  height: 155px;
  left: 1745px;
  top: 474px;
}
.iPhone {
  position: absolute;
  width: 320px;
  height: 640px;
  left: 1180px;
  top: 168px;
}
.Screen {
  position: absolute;
  width: 279px;
  height: 604px;
  left: 1201px;
  top: 187px;
}
.second__logotype {
  position: absolute;
width: 891px;
height: 28px;
left: 515px;
top: 923px;
}
.text {
position: absolute;
width: 1110px;
height: 544px;
left: 405px;
top: 1072px;
}
.background2 {
  position: absolute;
  width: 1920px;
  height: 896px;  
  top: 1680px;
  background-color: #D5FAFC;
}
.block8 {
  position: absolute;
  opacity: 0.3;
width: 142.37px;
height: 120px;
top: 1744px;
left: 405px;
}
.text2 {
  position: absolute;
  width: 445px;
  height: 168px;
  left: 500px;
  top: 1800px;
}
@keyframes move {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 975px;
	}
}
.text3 {
  position: absolute;
  width: 445px;
  height: 340px;
  left: 975px;
  top: 1848px;
animation-direction:  reverse;
	animation-duration: 6s;
	animation-name: move;
	animation-iteration-count: 1;
	animation-timing-function: linear;
}

@keyframes move {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 975px;
	}
}
.text4 {
  position: absolute;
  width: 350px;
  height: 276px;
  left: 975px;
  top: 2220px;
  animation-direction:  reverse;
	animation-duration: 6s;
	animation-name: move;
	animation-iteration-count: 1;
	animation-timing-function: linear;
  
  } 
     @keyframes move {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 595px;
	}
}
  .text5 {
    position: absolute;
    width: 350px;
   height: 436px;
   left: 0px;
   top: 1992px;
  animation-direction:  normal;
	animation-duration: 6s;
	animation-name: move;
	animation-iteration-count: 1;
	animation-timing-function: linear;
  animation-fill-mode: both;
  }
  .first_content {
    position: absolute;
    width: 540px;
    height: 128px;
    top: 2658px;
    left: 405px;
    font: 'Manrope';
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
  }
  .second_content {
    position: absolute;
    width: 540px;
    height: 32px;
    top: 2794px;
    left: 405px;
    font: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }
  .Counts {
    position: absolute;
    width: 540px;
    height: 172px;
    top: 2656px;
    left: 975px;
  }
  .BG {
    position: absolute;
    width: 540px;
    height: 540px;
    top: 2972px;
    left: 405px;
    background-color: #F1E4FF;
   } 
   .Mobile {
    position: absolute;
    top: 3014px;
    left: 485px;
    width: 360px;
    height: 484px;
   }
   .third_content {
    position: absolute;
    width: 444px;
    height: 54px;
    top: 3088px;
    left: 1023px;
    font: 'Manrope';
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
  }
  .fourth_content {
    position: absolute;
    width: 444px;
    height: 160px;
    top: 3174px;
    left: 1023px;
    font: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px; 
  }
  .button2 {
    position: absolute;
    width: 111px;
    height: 30px;
    top: 3366px;
    left: 1023px;
  }
  .vector2 {
    position: absolute;
    width: 22px;
    height: 14px;
    top: 3366px;
    left: 1139px;
  
  }
.fifth_content {
  position: absolute;
  width: 540px;
  height: 108px;
  top: 3640px;
  left: 405px;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
}
.sixth_content {
  position: absolute;
  width: 540px;
  height: 96px;
  top: 3646px;
  left: 975px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.Image {
  position: absolute;
  width: 1110px;
  height: 400px;
  left: 405px;
  top: 3796px;
  border-radius: 8px;
}
.background3 {
  position: absolute;
  width: 1920px;
  height: 491px;
  top: 4260px;
  background-color: #2EC5CE;
}
.heading {
  position: absolute;
  width: 540px;
  height: 128px;
  left: 405px;
  top: 4328px;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}
.first_heading {
  position: absolute;
  width: 540px;
  height: 96px;
  left: 405px;
  top: 4464px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}
.text6 {
  position: absolute;
  width: 101px;
  height: 28px;
  left: 405px;
  top: 4608px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
.vector_second {
  position: absolute;
  width: 282px;
  height: 76px;
  left: 405px;
  top: 4608px;
}
.vector_third {
  position: absolute;
  width: 133.26px;
  height: 38.26px;
  left: 555.87px;
  top: 4608px;
}
.iPhone_1 {
  position: absolute;
  width: 232px;
  height: 371px;
  top: 4260px;
  left: 1019px;
}
.iPhone_2 {
  position: absolute;
  width: 232px;
  height: 403px;
  top: 4348px;
  left: 1283px;
}
.footer_BG {
  position: absolute;
  width: 1920px;
  height: 280px;
  top: 4751px;
  background: #0B0D17;
}
.text7 {
position: absolute;
height: 28px;
width: 160px;
left: 1355px;
top: 4807px;
font-weight: 500;
font-size: 18px;
line-height: 28px;
color: #D9DBE1;
}
.vector_fourth {
position: absolute;
height: 40px;
width: 135px;
left: 1355px;
top: 4851px;
}
.vector_fifth {
position: absolute;
height: 40px;
width: 135px;
left: 1355px;
top: 4907px;
}
.footer_menu {
  position: absolute;
  height: 168px;
width: 475px;
left: 405px;
top: 4807px;
}
